* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: iranSans;
  font-size: 16px;
}
body{
  width: 1250px;
  margin: auto;
  padding: 50px;
  background-color: #fff;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to right, #33ff3d5d,#5cf1645d,#33ff3d5d); 
}
body::-webkit-scrollbar-thumb:hover {
    background: rgba(114, 197, 76, 0.8); 
}

@media only screen and (max-width: 1300px) {
  body {
    width: 100%;
    margin: 0;
    padding: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  body{
    padding: 25px;
  }
}