* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: vazir;
  font-size: 16px;
}
body{
  width: 1250px;
  margin: auto;
  padding: 50px;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1300px) {
  body {
    width: 100%;
    margin: 0;
    padding: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  body{
    padding: 25px;
  }
}


.navigate{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(220, 220, 220, 1));
  box-shadow: 0 2px 0 4px rgba(0, 0, 0, 0.05);
}
.navigate a{
  width: 22px;
  height: 22px;
  color: black;
  text-decoration: none;
}
.navigate a:nth-child(3){
  color: cornflowerblue;
}
.navIcon{
  font-size: 22px;
}